@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Muli:300,400,600,700,800|Roboto|Playfair+Display|Lora:400,400i,700,700i&display=swap');


/* Whole document: */

body {
	font-size: 19px;
	font-family: 'Muli';
}


a { /* links */
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}


.row-fluid{
  display: flex; /* Necessary for stick TOC*/
  /*  position: relative; */
}


/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 4em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}


/* Space Between TOC and Righthand side content on large screens */

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    padding-left: 4em !important;
  }
}




/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #141c25f2;
    border: none;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #141c25 !important;
}

/* Navbar Links when hovered*/
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #141c25;
}



/*-----------Table of Contents (TOC)------------*/

div.tocify {
    width: 100% !important;
    max-width: 260px;
    max-height: 85%;
    font-size: 16px;
} 

.tocify {
  border: none;
  position: -webkit-sticky;
  position: sticky; 
  top: 120px; /*Controls where TOC stops when sticky */
  width: 100%;
}


/*
#TOC {
  position: -webkit-sticky !important;
  position: sticky !important;
}
*/

/*
.toc-content {
  width: 75%
}
*/

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: none;
    color: #7b8a8b;
}

.list-group-item:hover, .list-group-item.active:hover {
    color: DarkSlateGray;
    background-color: white;
    border: none;
}

.list-group-item.active {
    color: #2c3e50;
    background-color: white;
    border: none;
}

/* Hides floating TOC on mobile*/ 

@media screen and (max-width: 768px){
  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }
}


/* -----------HERO IMAGE AT TOP OF PAGE -----------*/

/* LARGE HERO IMAGE AT TOP OF PAGE*/

.hero-image {
    position: relative;
    margin-bottom: 2em;
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ),
    url(../images/hero.jpg); /* liner gradient tints the image darker for readability*/
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}


.big-image-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}


/*---------- ADD A LOGO. THREE OPTIONS----------- */
/* For no logo, comment out all options below*/

/*1: For logo immediately above TOC, use style rule below, otherwise comment out*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 20px 20px 40px 20px;
  background-image: url("../images/logo-black.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}



/* 2: For logo to be in upper righthand corner, inline with title and author */
/* not recommended if using TOC float */

/*
#header.fluid-row::before {
  content: "";
  display: block;
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
*/


/* 3: For logo above title in upper righthand corner, above Title and Author (when also used with logo.HTML before_body), use style rule below. Otherwise comment out*/
/* not recommended if using TOC float */

/*
.upper-right-logo {
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
*/


/* -----------Question counter ---------*/

body {
  counter-reset: li;
}

.question ol {
	/* Remove the default left padding */
	padding-left: 0;
}

.question ol>li {
	/* Create a positioning context */
	position: relative;
	/* Disable the normal item numbering */
	list-style: none;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 120px;
}

.question ol>li:before,
.question ol>p>li:before{
	/* Use the counter as content */
	content: "Question " counter(li) ": ";
	/* Increment the counter by 1 */
	counter-increment: li;
	position: absolute;
	color: #5ebccf;
	left: -0.5px;
	font-weight: bold;
}

.question ol ol {
  counter-reset: subitem;
}

/*-------------FOOTER-------------- */

.footer {
  font-size: .74em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}

/* Divider line above footer */
.footer hr{
  width: 100%;
}

.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}

/* rstudio4edu text link */
.rstudio4edu {
  color: #3fb5bd;
  font-family: "Lora";
  font-size: 1.25em;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
}

.footer.logo {
  width: 40px;
  margin-right: 4px;
}
